* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 4px solid red;
}

body {
  background-color: grey;
}

/*  WORKING ON HEADER */

.header {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.nav-items {
  width: 120px;
  height: 100px;

}

/* WORKING ON SECTIONS */

.section-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.center-div{
  width: 300px;
  height: 200px;
  z-index: 1;
  margin: 0 auto;
}

.articles {
  flex: 1 1 600px;
  height: 750px;
}

.section-2 {
  margin: 0 auto;
  width: 1350px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.post {
  height: 600px;
}

.smashing-tv{
  height: 700px;
  width: 1250px;
  margin: 0 auto;
}

.latest-article {
  width: 20%;
  height: 100px;
  margin: 0 auto;
}

.ethical {
  margin-top: 20px;
  width: 100%;
  height: 1000px;
  text-align: center;
}

.ethical div {
  margin: 20px auto;
}

.ethical-text{
  height: 300px;
  width: 600px;
}

.ethical-link {
  width: 100px;
  height: 50px;
}

.ethical-img {
  height: 500px;
  width: 900px;
}

.person-week {
  display: flex;
  width: 1300px;
  margin: 0 auto;
  height: 400px;
  align-items: center;
}

.person-pic {
  width: 250px;
  height: 250px;
  margin-left: 20px;
}

.person-text {
  margin-left: 20px;
  width: 1000px;
  height: 300px;
}

.comments {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.person-comment {
  background-color: aqua;
  width: 100%;
  height: 300px;
}

.twitter-link {
  margin: 20px auto;
  width: 300px;
  height: 100px;
}

.design-system {
  width: 100%;
  height: 500px;
}

.design-system-text {
  float: left;
  margin-left: 30px;
  width: 70%;
  height: 80%;
}

.design-system-img {
  float: right;
  margin-right: 20px;
  width: 25%;
  height: 70%;
}

.guides-section {
  width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.guide {
  height: 700px;
}
.footer {
  margin-top: 20px;
}